<%- include("../../../views/header", {title: "Role Buttons", scripts: ["/vendor/jquery-sortable-min.js", "/vendor/emoji-name-map.js", "/js/rolebuttons/edit.js", "/js/rolebuttons/edit-html.js"], styles: ["/style/rolebuttons/edit.css"]}); %>
<script>
    const group_id = <%= group.id %>;
    const roles = <%- JSON.stringify(roles) %>;
    const channels = <%- JSON.stringify(channels) %>;
</script>
<div id="rolebuttons-header">
    <div class="row">
        <div class="six columns">
            <label for="rolebuttons-groupname">Group Name</label>
            <input id="rolebuttons-groupname" value="<%= group.title %>"
                   placeholder="Group #<%= group.id !== "null" ? group.id : "??" %>"
                   maxlength='256'
                   class='rolebuttons-groupname'>
        </div>
        <div class="three columns">
            <label for="rolebuttons-channel">Channel</label>
            <%- modules.rolebuttons_edit.getChannelDropdown("rolebuttons-channel", "rolebuttons-channel", group.channel_id, channels) %>
        </div>
        <div class="three columns">
            <label for="rolebuttons-require">Required Role ID <span class='tooltip'
                                                                    title='ID of the role required to use the buttons in this group. You can specify multiple IDs, seperated by commas, and the buttons will work if the user has at least one of the roles.'>🛈</span></label>
            <input id="rolebuttons-require" value="<%= group.require_role_ids %>" maxlength='256'
                   class='rolebuttons-require'>
            <br>
            <input id="rolebuttons-reply"<%= group.send_reply ? " checked" : "" %> type="checkbox"> <label for="rolebuttons-reply">Send reply in channel instead of DM</label>
        </div>
    </div>
    <input id="rolebuttons-guild" type="hidden" value="<%= group.guild_id %>" maxlength='256' class='rolebuttons-guild'>
</div>
<br>
<br>

<h5>Messages in This Group</h5>
<ol class="rolebuttons-messagelist draglist">
    <%- group.messages.map(m => modules.rolebuttons_edit.makeMessage(m, roles)).join(""); %>
</ol>
<a id="rolebuttons-messageadd" class="button button-primary">Add Message</a><br><br>
<a id="rolebuttons-save" class="button button-primary blockbutton">Save</a>
<a id="rolebuttons-back" href=".." class="button">Back</a>
<% if (group.id !== "null") { %>
    <br><br>
    <div id="rolebuttons-botcontrol">
        <div class="row">
            <div class="three columns">
                <a id="rolebuttons-post" class="button button-primary blockbutton">Post Messages</a>
            </div>
            <div class="nine columns">
                After changes to the configuration above, click this button to delete all messages previously posted
                from this group, and repost them all with the new data.
            </div>
        </div>
        <br>
        <div class="row">
            <div class="three columns">
                <a id="rolebuttons-update" class="button button-primary blockbutton">Update Messages</a>
            </div>
            <div class="nine columns">
                If you didn't add or remove any messages, only buttons, you can also simply update the existing
                messages. This will not delete or post anything, but just edit everything. This means the channel will
                not be marked as unread, however every message will gain the "(edited)" marker which looks pretty
                stupid, but it's fine for testing. You probably want to end with a "Post Messages" though, to get rid of
                the "(edited)" markers.
            </div>
        </div>
        <br>
        <div class="row">
            <div class="three columns">
                <a id="rolebuttons-delete" class="button">Delete Group</a>
            </div>
            <div class="nine columns">
                This will delete this role button group. Messages will also be removed.
            </div>
        </div>
    </div>
<% } %>
<%- include("../../../views/footer"); -%>